<section class='debunk'>
  {{#each copy.debunk-intro}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  {{#each copy.debunk}}
    <div class='debunk-wrapper'>
      <h3 class='section-hed tk-atlas'>{{title}}</h2>
      <p class='prose'>{{text}}</p>
      <div class='debunk-ui' data-location='{{location}}'>
        <span class='debunk-ui_instructions tk-atlas'>Highlight the</span>
        <div class='debunk-ui_button button-average'><button class='btn small is-active' data-location='{{location}}'>Average</button></div>
        <div class='debunk-ui_button button-biggest'><button class='btn small' data-location='{{location}}'>Biggest</button></div>
        <div class='debunk-ui_button button-smallest'><button class='btn small' data-location='{{location}}'>Smallest</button></div>
        <span class='debunk-ui_instructions tk-atlas'>pockets</span>
      </div>

      <figure class='debunk-graphic' data-location='{{location}}'></figure>
    </div>
  {{/each}}
</section>
