<div class='intro'>
	<div class='pocket-bg'>
		<div class='stitching'>
			<p class='intro__pre-hed tk-atlas'>Someone clever once said<br>Women were not allowed</p>
			<!--@@include('pocket-stitch-text-01.svg')-->
			<div class='svg-wrapper'>
				<div class='p-wrapper'>
					@@include('pocketP-01.svg')
				</div>
				<div class='pocket-wrapper'>
					<div class='pocket-text-wrapper'>
						<p class='pocket-text tk-atlas'>Someone clever once said<br>
							Women were not allowed pockets<br>
							In case they carried leaflets<br>
							To spread sedition<br>
							Which means unrest<br>
							To you & me<br>
							A grandiose word<br>
							For commonsense<br>
							Fairness<br>
							Kindness<br>
							Equality<br>
							So ladies, start sewing<br>
							Dangerous coats<br>
							Made of pockets & sedition<br>
						</p>
						<p class='attribution'><a href='https://twitter.com/SharonOwens2018/status/1004321265857986560' target=_blank>From <em>Dangerous Coats</em> by Sharon Owens</a></p>
					</div>
					<div class='pocket-container'>
					@@include('pocket_pocket-02.svg')
					</div>
				</div>
				<div class='CKET-wrapper'>
					@@include('pocketCKET-03.svg')
				</div>
			</div>
			<!--
			<h1 class='intro__hed tk-canela'>{{meta.title}}</h1>
			<p class='intro__dek tk-atlas'>{{meta.description}}</p>
		-->
		</div>
	</div>

	<div class='intro-details'>
		<p class='intro__byline tk-atlas'>By
			<a href='{{meta.author1.url}}' target='_blank'>
				<strong>{{meta.author1.name}}</strong>
			</a>
			&
			<a href='{{meta.author2.url}}' target='_blank'>
				<strong>{{meta.author2.name}}</strong>
			</a>
		</p>
		<p class='intro__date tk-atlas'>{{{copy.date}}}</p>
	</div>

	<div class='intro-prose'>
		{{#each copy.intro}}
			<p class='prose'>{{{value}}}</p>
		{{/each}}
	</div>

	<div class='intro-warning'>
		<p class='intro-warning-text tk-atlas'>{{{copy.accessibility-warning}}}</p>
	</div>
</div>
